@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Victor Mono';
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
    justify-content: center;
    color: #fff;
}
label{
    text-wrap: nowrap;
}
body {
    box-sizing: border-box;
    background-color: #191f31e7;
}

div {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

.container {
    max-width: 2024px;
}

.header__principal {
    padding: 20px;
}

.top-fecha {
    position: relative;
    top: -20px;
}

/* PALETA DE COLORES */
.color-red {
    color: #f23558cb;
}

.color-yellow {
    color: #F0D43A;
}

.color-blue {
    color: #22B2DA;
}

.color-bluedark {
    color: #3B4A6B;
}

.color-white {
    color: #fff;
}

.resumen-container,
.container__proyecto,
.container__experiencia,
.container__habilidades,
.container__educacion,
.container__contacto {
    margin: 0 20px;
}

.titulo-principal {
    font-size: 6rem;
    font-weight: bolder;
}

.nombre-creador {
    font-size: 2rem;
    font-weight: 100;
}

.titulo-ocupacion {
    font-size: 1rem;
    font-weight: 100;
}

.texto-parrafo {
    text-align: justify;
    text-wrap: pretty;
    margin: 5px 5px;
}

.texto-mediano {
    font-size: 1rem;
}

.texto-small {
    font-size: .9rem;
}

.titulo-seccion {
    font-size: 2.5rem;
    margin: 10px 5px;
}

.subtitulo-seccion {
    font-size: 1.5rem;
    font-weight: 200;
}

.proyecto-nombre {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

.list-style {
    text-align: start;
    text-wrap: pretty;
}

.experiencia-header,
.educacion-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.proyecto-header {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.fecha-style,
.fecha-style-educacion {
    font-size: 0.7rem;
    text-wrap: nowrap;

}

.puesto-titulo,
.empresa-nombre,
.carrera-titulo {
    font-size: 1.2rem;
    margin: 5px 5px;
    font-weight: 300;
}

.escuela-nombre {
    font-size: 1rem;
    font-weight: 100;
}

.contacto-style {
    padding: 20px;
}

/* MEDIA QUERIES  */
@media screen and (min-width: 1000px) {

    .container {
        margin: auto;
    }

    .nombre-creador {
        margin: 0;
    }

    .resumen-container,
    .header__principal {
        margin: 0 100px;
    }

    .grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;
        align-content: center;
        justify-content: center;
        gap: 20px;
    }

    .top-fecha {
        top: 40px;
    }

    .container__proyecto {
        grid-column: 1;
        grid-row: 1;
    }

    .container__experiencia {
        grid-column: 1;
        grid-row: 2;
    }

    .container__habilidades {
        grid-column: 2;
        grid-row: 1;
    }

    .container__educacion {
        grid-column: 2;
        grid-row: 2;
    }

    .container__contacto {
        grid-column: 2;
        grid-row: 2;
    }

    .proyecto-header {
        flex-direction: row;
    }

    .proyecto-nombre {
        position: relative;
        top: 23px;
        margin: 0 10px;
        text-wrap: pretty;
    }

    .container__proyecto,
    .container__experiencia,
    .container__habilidades,
    .container__educacion,
    .container__contacto {
        margin: 0 100px;
        max-width: 1024px;
        margin-top: 50px;
    }

    @media screen and (min-width:1210px) {
        .container__experiencia {
            position: relative;
            bottom: 400px;
        }

    }
}
